<!DOCTYPE html>
<html>
<head>
  <title>MultitenantPush</title>
  <%= stylesheet_link_tag    "multitenant_push/application", media: "all" %>
  <%= javascript_include_tag "multitenant_push/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
